@CHARSET "EUC-KR";

@import url(http://fonts.googleapis.com/css?family=Sancreek);
@media screen {
	@font-face {
		font-family: 'Sancreek';
		font-style: normal;
		font-weight: 400;
		src: local('Sancreek Regular'), local('Sancreek-Regular'), url('http://themes.googleusercontent.com/static/fonts/sancreek/v2/0sp5vaO1xlh1oVM73vz23vesZW2xOQ-xsNqO47m55DA.woff') format('woff');
	}
}

.googlefont {
	font-family: 'Sancreek', cursive; 
}

.googlefont h1 {
	margin: 10px 0 0;
	line-height:1.5em;
	font-weight: bold;
	padding-left: 16px; 
	list-style: none; 
	background: url(../images/li.gif) 5px 10px no-repeat;
}

.googlefont ul { 
	margin: 0;
	font-size: 1.2em;
}

.googlefont ul li { 
	padding-left: 26px; 
	list-style: none; 
	background: none; 
}
