/* html 문서의 link 엘리먼트 속성 값에 반드시 rel="stylesheet"로 해야 함 */
@CHARSET "EUC-KR";

section {
	float: left; 
	width: 300px; 
	background: yellow
}

aside {
	float: left;
	width: 200px;
	background: cyan;
}

.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}