<!-- 파일명 : elements/canvas/transformations.html -->
<!DOCTYPE HTML>
<html>
<head>
<title>transformations 예제</title>
<script>
window.onload = function() {
	var canvas=document.getElementById("myCanvas");
	var ctx=canvas.getContext("2d");

	ctx.translate(100, 50);
	ctx.rotate(Math.atan(100/200));

	ctx.beginPath();
	ctx.fillStyle="#FF0000";
	ctx.arc(0, 0, 30, 0, Math.PI, true);
	ctx.fill();
	ctx.closePath();
	
	ctx.beginPath();
	ctx.fillStyle="#0000FF";
	ctx.arc(0, 0, 30, 0, Math.PI, false);
	ctx.fill();
	ctx.closePath();
	
	ctx.beginPath();
	ctx.fillStyle="#FF0000";
	ctx.arc(-15, 0, 30/2, 0, Math.PI*2, false);
	ctx.fill();
	ctx.closePath();
	
	ctx.beginPath();
	ctx.fillStyle="#0000FF";
	ctx.arc(+15, 0, 30/2, 0, Math.PI*2, true);
	ctx.fill();
	ctx.closePath();
}
</script>
</head>
<body>

<canvas id="myCanvas" width="200" height="100" style="border:1px solid #c3c3c3;">
브라우저가 canvas를 지원하지 않습니다.
</canvas>

</body>
</html>
