<!DOCTYPE html>
<html>
<head>
<meta charset="euc-kr">
<title>form</title>
</head>
<body>
<h1>폼 관련 태그 실습입니다.</h1>
<form action="result.jsp" method="post">
<fieldset>
<legend>입력 양식</legend>
아이디 : <input type="text" name="userid"><br>
<!-- 파라미터의 이름이 name 속성의 값이 된다. -->
비밀번호 : <input type="password" name="userpw"><br>
파일 : <input type="file" name="filename"><br>
운동 : <input type="checkbox" name="hobby" value="soccer">축구 
	  <input type="checkbox" name="hobby" value="baseball">야구
	  <input type="checkbox" name="hobby" value="golf">골프
	  <input type="checkbox" name="hobby" value="swimming">수영<br>
<!-- 체크박스는 같은 그룹일 경우 name 속성의 값이 같아야 한다. -->	  
직업 : <input type="radio" name="job" value="programmer">프로그래머
	  <input type="radio" name="job" value="salesman">세일즈맨
	  <input type="radio" name="job" value="professor">교수<br>
<!-- 라디오는 같은 그룹일 경우 name 속성의 값이 같아야 한다. -->	
<input type="hidden" name="id" value="uid0001">
<select name="major" multiple><!-- multiple 속성은 복수 개 선택할 수 있도록 함 -->
	<option value="1">컴퓨터
	<option>경제
	<option>경영
	<option>자동차
	<option>전기
	<option>건축
</select><br><!-- result.jsp에 request.setCharacterEncoding("euc-kr");를 포함시킴 -->
<!-- textarea는 여러줄 입력 양식을 만들어 줌 -->
<textarea rows="5" cols="70">
	이곳에 입력한 데이터는
			텍스트 영역에 그대로 표시됩니다.
</textarea><br>
<input type="submit" value=" 확인 ">
<input type="reset" value=" 취소 ">
</fieldset>
</form>
</body>
</html>



