<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>paragraph</title>
</head>
<body>
<p>p 태그는 문단을 나눠주는 태그입니다.</p>
<p>p 태그로 작성된 문단은 문단과 문단 사이에 빈 줄이 하나 생깁니다</p>
태그에 <br>br 태그를 넣는것과는 다릅니다. br태그는 단순히 줄바꿈 기능만
있습니다. br 태그를 두번쓰는 것과 p태그를 한번 쓰는 것이 외형적으로
비슷해 보일지라도 그의미는 전혀 다릅니다. br태그는 문단을 구분하지 않습니다.
<br><br>
p 태그와 유사한 기능을 하는 태그가 있습니다. hr 태그입니다.
<hr> hr태그는 수평선을 만들어주는 효과가 있습니다.<br>
hr태그는 width 속성과 size 속성을 가질 수 있습니다.
width 속성은 수평선의 폭을 지정하며(%를 표시하면 브라우저 화면의 비율로), 
size 속성은 선의 두께를 지정합니다.
noshade 속성(속성이름만)을 추가하면 선이 2차원으로 보입니다.
<hr width="80"><!-- 단위에 숫자만 기록하면 단위는 픽셀 -->
<hr width="80%"><!-- %를 기록하면 비율 -->
<hr width="300" size="10">
<hr width="300" size="10" noshade align="left">
</body>
</html>